/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
/* WordPress Core
-------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
/* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
-------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@darkgray: #333333;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FFB12A;
@pink: #ED1566;

/* Theme commons
-------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}@import 'less/layouts.less';

/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html, body { height: 100%; }

body {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

#sticker { z-index: 99 !important; }

.pre-header {
    padding: 20px 0;

    & .pre-header-social-icons {
        font-size: 18px;
        color: @black;

        & a {
            color: @black;

            &:hover { color: @darkgray; }
        }

        & .fa { padding-right: 10px; }
    }

    & .pre-header-social-buttons {
        text-align: right;

        & button:nth-child(1) {
            & .fa { color: @pink; }
        }

        & .btn-pre-header {
            & a { color: @black; }

            & .fa { padding-right: 10px; }

            background: none transparent;
            color: @black;
            font-size: 14px;
            padding: 2px 5px;
        }
    }
}

.the-logo {
    padding: 2% 0;
    padding-bottom: 3.5%;
    text-align: center;

    & img {
        max-width: 150px !important;
        height: auto;
        display: inline-block;
    }
}

.the-header {
    background: @white;

    & .navbar-default {
        background: none transparent;
        border: 0;
        box-shadow: none;
        margin-bottom: 0;
        border-radius: 0;

        & .dropdown-menu .sub-menu {
            left: 100%;
            position: absolute;
            top: 0;
            visibility: hidden;
            margin-top: -1px;
        }

        & .dropdown-menu li:hover .sub-menu { visibility: visible; }

        & .dropdown:hover .dropdown-menu { display: block; }

        & .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu { margin-top: 0; }

        & .navbar .sub-menu:before {
            border-bottom: 7px solid transparent;
            border-left: none;
            border-right: 7px solid rgba(0, 0, 0, 0.2);
            border-top: 7px solid transparent;
            left: -7px;
            top: 10px;
        }

        & .navbar .sub-menu:after {
            border-top: 6px solid transparent;
            border-left: none;
            border-right: 6px solid #fff;
            border-bottom: 6px solid transparent;
            left: 10px;
            top: 11px;
            left: -6px;
        }

        & .navbar-center {
            float: none;
            display: block;
            text-align: center;

            & li {
                float: none;
                display: inline-block;

                & a {
                    padding: 15px 30px;
                    font-size: 14px;
                    border-bottom: 3px solid transparent;
                    color: @black;
                    text-transform: uppercase;

                    &:hover {
                        box-shadow: none;
                        background: none transparent;
                        border-bottom: 3px solid @black;
                    }

                    &:focus {
                        box-shadow: none;
                        background: none transparent;
                        border-bottom: 3px solid @black;
                    }
                }

                & .dropdown-menu {
                    background: rgba(255, 255, 255, 0.80);

                    & li {
                        display: block;

                        & a {
                            padding: 10px;
                            border-bottom: 0;

                            &:hover {
                                background: #c6c6c6;
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }

            & .active {
                & a {
                    box-shadow: none;
                    background: none transparent;
                    border-bottom: 3px solid @black;
                }
            }
        }
    }
}

/* HOME */
.section-title {
    font-size: 26px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.the-home-shop { padding: 2% 0; }

.home-shop-item {
    margin-bottom: 20px;

    & .home-shop-item-wrapper {
        background: #F0F0F0;
        color: #414141;
        padding: 20px 10px;
        padding-top: 7px;
        text-transform: uppercase;
        text-align: center;
        .transition(all .3s ease-in-out);

        & img {
            width: 100% !important;
            height: auto;
            .transition(all .3s ease-in-out);
        }

        & h3 {
            margin-top: 10px;
            margin-bottom: 0;
            font-size: 25px;
            font-weight: 700;
            letter-spacing: -.5px;
        }
    }

    &:hover {
        & .home-shop-item-wrapper {
            background: #fafafa;

            & img { .filter(opacity(.8)); }
        }
    }
}

/* ABOUT */
.the-about {
    margin: 2% 0;
    background: #E8E6E6;

    & .about-info {
        & h1 {
            color: #2B2A2A;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 4em;
            margin-top: 0;
        }

        & .about-info-wrapper {
            padding: 6% 6% 0% 4%;
            font-size: 15px;
            line-height: 30px;
        }
    }
}

/* FOOTER */
.the-footer {
    background: #2F2E2E;
    border-top: 4px solid #999997;
    color: @white;
    padding: 20px 0;
    padding-bottom: 30px;

    & a { color: @white; }

    & .footer-item {
        font-size: 12px;
        line-height: 30px;
        font-weight: 400;

        & .form-control { border-radius: 0; }

        & .btn {
            border-radius: 0;
            background: none;
            border: 1px solid #f0f0f0;
            text-shadow: none;
            color: #FFF;
        }

        & ul {
            list-style: none;
            padding-left: 0;

            & li {
                display: block;
                margin: 0 10px;

                & a { color: @white; }
            }
        }

        & .widget_nav_menu {
            font-size: 10px;
            line-height: 25px;
            font-weight: 300;

            & ul {
                list-style: none;
                padding-left: 0;

                & li {
                    display: block;
                    margin: 0 10px;
                    text-transform: uppercase;

                    & a { color: @white; }
                }
            }
        }
    }
}

.footer-social-icons {
    font-size: 20px;

    & .fa {
        padding-right: 15px;
        padding-top: 10px;
    }
}

/* CONTACT */
.the-contact {
    background: #E8E6E6;
    margin-bottom: 40px;

    & .contact-img {
        & img { width: 100%; }
    }

    & .contact-info { padding: 2% 4%; }
}

.custom-form-control-container {
    padding: 5px;

    & br { display: none; }

    & input { margin-bottom: 6px; }

    & .submit-control {
        background: #DBB89A;
        margin-left: auto;
        margin-right: 0;
        display: block;
        border: 0;
        box-shadow: 2px 2px 4px #999997;
        color: #FFF;
        font-style: italic;
        padding: 5px 18px;
    }
}

.lettering-title {
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Frank Ruhl Libre', serif;

    & .word1 {
        display: block;
        color: #2F2E2E;
    }

    & .word2 {
        display: block;
        color: #999997;
    }
}

/* BLOG */
.blog-item-featured {
    position: relative;

    & picture {
        & img {
            width: 100%;
            height: auto;
        }
    }

    & .blog-item-featured-wrapper {
        position: absolute;
        top: 25%;
        right: 15px;
        width: 65%;
        height: auto;
        background: rgba(0, 0, 0, 0.85);
        color: @white;
        padding: 45px 25px;
        text-align: center;
        font-family: 'Frank Ruhl Libre', serif;

        & .post-category {
            font-style: italic;
            font-size: 20px;

            & a {
                &:before, &:after { content: '"'; }
            }
        }

        & h2 {
            font-size: 34px;
            font-weight: 700;
            font-style: normal;
            line-height: 45px;
            font-family: 'Frank Ruhl Libre', serif;
        }

        & a { color: @white; }
    }
}

.blog-item {
    position: relative;

    & picture {
        & img {
            width: 100%;
            height: auto;
        }
    }

    & .blog-item-wrapper {
        position: absolute;
        bottom: -15%;
        right: 7%;
        width: 86%;
        height: auto;
        background: @white;
        color: @black;
        border: 1px solid @black;
        padding: 15px 25px;
        text-align: center;
        min-height: 142px;

        & .post-category {
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 2px;

            & a { color: gray; }
        }

        & h2 {
            font-size: 16px;
            font-weight: 900;
            font-style: normal;
            line-height: 25px;
            margin-top: 5px;
        }

        & a { color: @black; }
    }
}

.blog-divider {
    text-align: center;
    margin: 3% 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.blog-main-loop { padding-bottom: 5%; }

/* STORE */
.custom-shop-categories-item {
    position: relative;
    margin-bottom: 20px;

    & .custom-shop-categories-item-wrapper {
        position: absolute;
        width: 90%;
        height: 100%;
        top: 0;
        background: rgba(0, 0, 0, 0.72);
        padding: 20px;
        text-align: center;
        .transition(all .3s ease-in-out);

        &:hover { padding: 25px; }
    }

    & .categories-item-wrapper {
        border: 1px solid @white;
        height: inherit;
        display: block;
        color: @white;
        padding-top: 60%;
        .transition(all .3s ease-in-out);

        & h3 {
            font-weight: 300;
            font-size: 35px;
            font-style: italic;
        }
    }
}

.custom-shop-headline-title {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 26px;
}

/* MAIN WOOCOMMERCE OVERRIDE */
.woocustom-main-container {
    & .custom-shop-categories-container {
        & li.product {
            width: 29% !important;
            padding: 2% !important;

            & a { color: @black; }

            & .woocommerce-loop-product__title {
                font-size: 25px !important;
                text-align: center;
                font-weight: 700;
                margin-top: 5px !important;
                padding: 5px !important;
            }

            & .button {
                background: #000 !important;
                color: #FFF !important;
                display: block !important;
                width: 70% !important;
                margin-left: auto !important;
                margin-right: auto !important;
                text-align: center;
                text-transform: uppercase;
                font-weight: 300 !important;
                letter-spacing: 1px;
                padding: 15px 30px !important;
                border-radius: 0 !important;
                margin-top: 20px !important;
            }

            & .price {
                color: #353535 !important;
                font-weight: 700 !important;
                font-size: 14px !important;
                text-align: center !important;
            }

            & .added_to_cart {
                display: block !important;
                margin-left: auto !important;
                margin-right: auto !important;
                text-align: center;
                margin-top: 5px;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }

    & .product-custom-links {
        text-align: center;
        font-size: 20px;
        margin: 10px;

        & a { color: @black; }

        & .product-heart { color: red !important; }
    }
}

.custom-shop-single-container {
    padding: 2% 0;
    padding-bottom: 4%;

    & .entry-summary {
        & .product_title {
            font-size: 22px !important;
            text-transform: uppercase !important;
            font-weight: 700 !important;
            letter-spacing: 1.5px !important;
        }

        & .qty {
            font-size: 20px !important;
            font-weight: 300 !important;
        }

        & .price {
            font-weight: 700 !important;
            color: #616161 !important;
            font-size: 18px !important;
            letter-spacing: .5px !important;
        }

        & .button {
            background-color: #2f2e2e !important;
            border-radius: 0 !important;
            font-size: 15px !important;
            text-transform: uppercase !important;
            font-weight: 400 !important;
            letter-spacing: .5px !important;
            color: #fff !important;
        }

        & .woocommerce-product-details__short-description h3 {
            font-size: 18px !important;
            font-weight: 600 !important;
        }
    }
}

.product-custom-links-single {
    text-align: left !important;
    margin-left: 0 !important;
}

.the-single {
    & h1 {
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 40px;
        text-align: center;
        padding: 0 10%;
        line-height: 55px;
        margin-bottom: 30px;
    }

    & .post-content {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 4%;
    }
}
